* {
  color       : white;
  font-family : consolas;
}

body {
  max-width        : 960px;
  margin-right     : auto;
  margin-left      : auto;
  background-color : white;
}

header {
  width         : 960px;
  margin-right  : auto;
  margin-bottom : 25px;
  margin-left   : auto;
}

div {
  height           : 25px;
  background-color : #15a9f2;
}

.split {
  width            : 70%;
  height           : 25px;
  float            : left;
  margin-bottom    : 25px;
  padding-right    : 30px;
  background-color : #1f2a78;
}

header h1 {
  margin           : 0px;
  color            : white;
  background-color : #1f2a78;
  text-align       : center;
  font-size        : 50px;
}

.bio {
  width            : 70%;
  float            : left;
  margin-bottom    : 25px;
  padding          : 15px;
  border-radius    : 40px;
  background-color : #15a9f2;
  text-indent      : 20px;
  font-size        : 20px;
}

.lists {
  width            : 25%;
  float            : right;
  margin-bottom    : 50px;
  border-radius    : 40px;
  background-color : #15a9f2;
}

h3 {
  color      : #ffe70a;
  text-align : center;
  font-size  : 25px;
}

article {
  text-align : left;
}

ul {
  margin-left : 15px;
  font-size   : 18px;
}

.quiz {
  width            : 71%;
  float            : left;
  margin-bottom    : 30px;
  padding-left     : 18px;
  border-radius    : 40px;
  background-color : #15a9f2;
}

.questions {
  display : inline;
  width   : 70%;
  float   : left;
}

.score {
  display : inline;
  width   : 30%;
  height  : inherit;
  float   : right;
}

.score p {
  text-align : center;
  font-size  : 64px;
}

h2 {
  color : #ffe70a;
}

p {
  color     : white;
  font-size : 18px;
}

.ten {
  float            : left;
  padding          : 20px;
  border-radius    : 40px;
  background-color : #15a9f2;
}

h4 {
  color      : #ffe70a;
  text-align : center;
  font-size  : 20px;
}

ol {
  font-size : 20px;
}

ol li:hover {
  font-size: 25px;
}
