* {
  font-family: fantasy;
  color: white;
}

body {
  background-color: gray;
}

header h1 {
  text-align: center;
  color: black;
  font-size: 60px;
  text-decoration: underline;
}

header p {
  font-size: 25px;
  margin-bottom: 50px;
}

.favorites {
  border: 2px solid black;
  text-align: center;
  background-color: rgb(55, 59, 51);
  padding: 40px;
}

article {
  display: inline-block;
  margin-left: 50px;
  text-align: left;
}

.quiz {
  text-align: left;
  padding-top: 50px;
}
