* {
  font-family: consolas;
  color: white;
}

body {
  background-color: white;
}

header{
  margin-bottom: 25px;
}

div {
  background-color: #15a9f2;
  height: 25px;
}

header h1 {
  background-color: #1f2a78;
  text-align: center;
  color: white;
  font-size: 50px;
  margin: 0px;
}

.bio {
  padding: 15px;
  font-size: 25px;
  margin-bottom: 50px;
  width: 70%;
  float: left;
  background-color: #15a9f2;
}

.favorites {
  text-align: center;
  background-color: #15a9f2;
  float: right;
  width: 25%;
}

h3 {
  color: #ffe70a;
  text-align: center;
}

article {
  text-align: left;
}

ul {
  padding-left: 80px;
}

.quiz {
  float: left;
  padding: 10px 25px 10px 25px;
  border: 2px solid black;
}

h2 {
  color: black;
}

.quiz p {
  color: black;
}
